@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply font-semibold hover:underline;
  }
  .bleed-filters-bg-out {
    --bgColor: rgb(254, 240, 198);
    background-color: var(--bgColor);
    box-shadow: 0 0 0 100vmax var(--bgColor);
    clip-path: inset(0 -100vmax);
    @apply -mt-6 py-6  px-4;
  }
}
